/* stylelint-disable comment-empty-line-before */
body {
  background-color: white;
}

/* Navbar  */

/* Showcase */

/* Stats */
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}
/* Cli */

/* Cloud */

/* Languages */

/* Features */

/* Docs */

/* Animations */

/* Tablets and under */

/* Mobile */
