.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/* Backgrounds & colored buttons */

.text-secondary {
  color: var(--secondary-color);
}

/* Text colors */

.text-center {
  text-align: center;
}

/* Text sizes */

/* Alert */

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-4 {
  margin: 3rem 0;
}

/* Padding */
